.admin-bg{
    background-color: #E5E5E5;
}

.admin-container{
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

form label{
    font-weight: bold;
    color: rgba(102, 102, 102, 0.81);
}


.aa-top{
    width: 100%;
}
.aa-left{
    width: 50%;
}
/* .aa_middle{
    width: 33%;
} */
.aa-right{
    width: 50%;
}