/*---------- [INFORMATION CSS] ----------*/

.sellingPageLayout .information{
    display: flex;
    flex-direction: row;
    height: 82px;
    background-color: #5611FF;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
}

.sellingPageLayout .in4{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 50%;
    flex-wrap: wrap;
}

.sellingPageLayout .in4 .block-text{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.sellingPageLayout .in4 p{
    margin-bottom: 0px;
    color: #E4FF80;
    font-weight: bold;
}

.sellingPageLayout .r-border{
    border: none solid none none;
    border-style: solid;
    border-width: 1px;    
    border-color: aliceblue;
}

.sellingPageLayout .l-border{
    border: none none none solid;
    border-style: solid;
    border-width: 1px;    
    border-color: aliceblue;
}

.sellingPageLayout .item-symbol svg{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sellingPageLayout .item-symbol h1{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
