/*---------- [INFORMATION CSS] ----------*/

#Sb-page-background .information{
    display: flex;
    flex-direction: row;
    height: 82px;
    background-color: #5611FF;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
}

#Sb-page-background .in4{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 50%;
    flex-wrap: wrap;
}

#Sb-page-background .in4 .block-text{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#Sb-page-background .in4 p{
    margin-bottom: 0px;
    color: #E4FF80;
    font-weight: bold;
}

#Sb-page-background .r-border{
    border: none solid none none;
    border-style: solid;
    border-width: 1px;    
    border-color: aliceblue;
}

#Sb-page-background .l-border{
    border: none none none solid;
    border-style: solid;
    border-width: 1px;    
    border-color: aliceblue
}

/*-------------- [ADS CSS]----------- */
#Sb-page-background .ads-img .background-img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../image/sale_page_img/ads.png);    
    height: 168px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;    
}

#Sb-page-background .big-part .background-text{
    margin-top: 30px;
    background-color: #EEFEFF;
    width: 529px;
    height: 58px;
}

#Sb-page-background .big-part h1{
    width: fit-content;
    line-height: 58px;
    margin-bottom: 0px;
    color: #5611FF;
    font-size: 2.3rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#Sb-page-background .small-part .background-text{
    background-color: #EEFEFF;
    width: 450px;
    height: 25px;
}

#Sb-page-background .small-part .text{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #5611FF;
    font-weight: bold;
}

/* ==================================== */

.Sb-page-background{
    background-color: #E5E5E5 !important;
}

.Sb-container{
    width: 70% !important;
    background-color: #E5E5E5;
}

/* ------------------------------------ */

.Sb-left{
    width: 61%;
    height: fit-content;
    background-color: #E5E5E5;
}

    /* child of left */
    .Sb-left div{
        background-color: white;
    }





/* -------- frame ------------ */
.Sb-frame{
    height: fit-content;
    width: 100%;
}
    /* --- child ---- */
    .Sb-img{
        width: 140px;
        height: 140px;
    }
    .Sb-detail{
        width: 100%;
    }


/* ------------------------------------- */

.Sb-right{
    width: 37%;
    height: fit-content;
    background-color: white;
}

.Sb-right .dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 27px 16px 15px 16px;
    z-index: 1;
}

#Sb-page-background svg:hover{
    opacity: 0.5;
}
.dropdown:hover .dropdown-content {
    display: block;
}
