/*---------- [ITEM] ----------*/
.wishList-frame{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 800px;
    /* border: solid 2px; */
    align-items: center;
    justify-content: center;
}


.wishList-img-here{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 610px;
    width: 400px;
    border: solid 2px;
}
