#navbar-layout-for-all #navBarSearchForm{
    width: 30%;
}

#navbar-layout-for-all #sale-id{
    background-color: #D01345;
}

#navbar-layout-for-all #sale-id a:hover{
    color: black;
}

#navbar-layout-for-all .position-left{
    margin-right: 10px;   
}

#navbar-layout-for-all .nav, .icon-user svg{
    margin-left: 10px;
    margin-right: 10px;
}

#navbar-layout-for-all .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
}

#navbar-layout-for-all .nav .color-white{
    color: white;
}

#navbar-layout-for-all .dropdown-menu a{
    color: black;
}

#navbar-layout-for-all .navbar-brand {
    margin-left: 10px;
}

#navbar-layout-for-all .navbar-brand strong{
    font-size: 30px;
}

#navbar-layout-for-all .icon-user a{
    text-decoration: none;
}

#navbar-layout-for-all .bottom-71px{
    height: 100px;
}

#navbar-layout-for-all .middle-text{
   color: rebeccapurple;
}