a{
    color: black !important;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.my_button:hover{
    opacity: 0.85;
}

.logo_group{
    background-color: #E5E5E5;
    height: 100px;
    width: 100%;
}
    /* child */
    .VinBK{
        /* position: absolute; */
        font-family: Baloo Tammudu;
        font-weight: bolder;
        font-size: 45px;
        /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 25), 0px 4px 4px rgba(0, 0, 0, 25)  */
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
    }
    .my_account{
        font-family: Baloo Tammudu;
        font-weight: bolder;
        font-size: 35px;
    }


/* --------------------------------------- */
body{
    background-color: #E5E5E5 !important;
}

.my_container{
    background-color: #E5E5E5;
    margin: 0 auto;
    /* width: 981px; */
    width: 63%;
}


.my_left{
    /* width: 300px; */
    width: 30%;
    /* border: 1px solid black; */
}
    /* --------------------- */
    #avatar{
        width: 35%;
        height: auto;
    }

.my_right{
    /* width: 620px; */
    width: 66%;
    /* border: 1px solid black; */
}
    /* --------------------- */
    .crop{
        width: 100%;
        /* height: 263px; */
        overflow: hidden;
    }

    .crop img{
        width: 100%;
        /* margin-top: -80px; margin-left: -38px; */
        /* margin-top: -50px; margin-left: -38px; */
        margin-top: -80px;
    }

    /* ----- form----- */
    .my_label{
        font-weight: bold;
        color: rgba(102, 102, 102, 0.81);
    }
    .my_quote{
        color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
    }


footer{
    height: 56px;
    background-color: white;
}
